body{
  background-color: #BB4684;
}

h1{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 200%;
  text-align: center;
  color:#A4286E;
}
section {
  margin-left: 600px;
  margin-top: 20px;

}
.cuadroContenedor{
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.cuadroEnmedio{
  position: relative;
  left: 30px;
  top: 10px;
  width: 80px;
  height: 80px;
}

.chiquis{
  position: absolute;
  width:200 px;
  height:200 px;
}

div{
  border:solid  black;
  background-color: pink;
}
